In [1]:
from core.transform_data import transform_iptu

In [3]:
transform_iptu()

Reading saved file

,quadra,sum_area_construida,ano_x,mean_valor_do_m2_do_terreno,mean_quantidade_de_pavimentos,ano_y
0,001003,40035.0,2018,1322.250000,4.258065,2018
1,001004,20715.0,2018,1251.511111,2.088889,2018
2,001005,17263.0,2018,1149.878378,2.364865,2018
3,001006,7686.0,2018,1120.651163,3.000000,2018
4,001007,26067.0,2018,1091.970874,4.480583,2018
...,...,...,...,...,...,...
45492,310116,1313.0,2021,832.615385,2.000000,2021
45493,310117,22501.0,2021,1335.150628,7.941423,2021
45494,310118,25096.0,2021,1420.000000,5.000000,2021
45495,310119,0.0,2021,1257.000000,0.000000,2021
45496,310120,0.0,2021,293.000000,0.000000,2021