In [1]:
from core.load_data import load_all

In [2]:
load_all()

Shape C:\Users\d835916\Desktop\projetos\dash_adensamento_construtivo\original_data\shp_files\setores_fiscais já salvo
Shape C:\Users\d835916\Desktop\projetos\dash_adensamento_construtivo\original_data\shp_files\zoneamento já salvo
Arquivo 2013.csv ja salvo.
Arquivo 2014.csv ja salvo.
Arquivo 2015.csv ja salvo.
Arquivo 2016.csv ja salvo.
Arquivo 2017.csv ja salvo.
Arquivo 2018.csv ja salvo.
Arquivo 2019.csv ja salvo.
Arquivo 2020.csv ja salvo.
Arquivo 2021.csv ja salvo.
Arquivo 2022.csv ja salvo.

In [3]:
from core.transform_data import shp_setores_calculado

In [4]:
df = shp_setores_calculado()

In [5]:
df['ano'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype=int64)

In [6]:
type(df)

geopandas.geodataframe.GeoDataFrame

In [7]:
df

,setor,sum_area_c,ano,mean_valor,mean_quant,geometry
0,001,3473913.0,2013,2347.277014,17.137893,"POLYGON ((-46.62673 -23.53383, -46.62678 -23.5..."
1,002,1303772.0,2013,1097.869504,12.817334,"POLYGON ((-46.62215 -23.53884, -46.62215 -23.5..."
2,003,1203167.0,2013,644.327855,10.468339,"POLYGON ((-46.61060 -23.55436, -46.61055 -23.5..."
3,004,1358416.0,2013,455.252910,8.817925,"POLYGON ((-46.61526 -23.55868, -46.61535 -23.5..."
4,005,2787373.0,2013,1390.581117,15.151288,"POLYGON ((-46.63771 -23.54672, -46.63771 -23.5..."
...,...,...,...,...,...,...
2902,227,421478.0,2022,238.000000,2.747979,"POLYGON ((-46.58478 -23.41622, -46.58470 -23.4..."
2903,228,322488.0,2022,413.099722,2.196974,"POLYGON ((-46.57412 -23.43825, -46.57404 -23.4..."
2904,229,640632.0,2022,320.975092,1.020212,"POLYGON ((-46.38215 -23.51792, -46.38216 -23.5..."
2905,230,67457.0,2022,430.504468,3.987002,"POLYGON ((-46.42517 -23.55402, -46.42611 -23.5..."
2906,310,178631.0,2022,1788.814570,4.701159,"POLYGON ((-46.63056 -23.63886, -46.63057 -23.6..."